@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Karla';
  src: url(./fonts/Karla-ExtraLight.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Karla';
  src: url(./fonts/Karla-Regular.ttf);
  font-weight: bold;
}

html, body, #root {
  height: 100%;
  margin: 0px;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Navbar {
  height: 10rem;
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Links {
  font-size: 3rem;
  font-family: 'Karla';
  align-self: center;
  display: flex;
  align-items: center;
}

.navbar-cart {
  display: flex;
  font-size: 2rem;
}

.title {
  font-family: 'PlayfairDisplay';
  font-size: 5rem;
  color: black;
  padding-left: 5rem;
  align-self: center;
}

.content {
  flex: 1 1 auto;
  display: flex;
}

.Home {
  width: 100%;
  height: 48rem;
}

.Carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.Carousel img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.Carousel button {
  font-size: 5rem;
  background: transparent;
  border: none;
  font-family: Karla;
  position: absolute;
  height: 100%;
}

.carousel-left {
  left: 0;
  cursor: pointer;
}

.carousel-right {
  right: 0;
  cursor: pointer;
}

.Carousel button:hover {
  color: white;
}

.Carousel button:focus {
  outline: none;
}

.Shop {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.ProductCard {
  width: 35rem;
  font-size: 1.6rem;
  font-family: 'Karla';
}

.product-card-name {
  font-size: 2rem;
}

.ProductCard > img {
  width: 100%;
}

.Cart {
  font-family: 'Karla';
  width: 100%;
  min-height: 100%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cart-header {
  text-align: center;
}

.CartItem {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: 2rem;
}

.cartItem-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.empty-cart {
  margin: auto;
  margin-top: 13%;
  font-size: 2rem;
}

.CartItem > img {
  width: 15rem;
  grid-column: 1/2;
  grid-row: 1/5;
}

.CartItem > button {
  font-family: 'Karla';
  font-size: 1.5rem;
  width: 6rem;
  height: 3rem;
  border: 1px solid darkgrey;
  cursor: pointer;
}

.CartItem > button:hover {
  background: rgb(78, 78, 78);
  color: white;
}

.quantity-adjust {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 7rem;
  height: 2rem;
  box-sizing: border-box;
}

.quantity-adjust > span {
  text-align: center;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  font-size: 1.5rem;
}

.quantity-adjust > button {
  padding: 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: 1px solid darkgrey;
  font-family: 'Karla';
  text-align: center;
  cursor: pointer;
}

.quantity-adjust > button:hover {
  background: rgb(78, 78, 78);
  color: white;
}

.quantity-adjust > button:focus {
  outline: none;
}

.checkout-footer {
  margin-top: auto;
  color: black;
  width: 100%;
  height: 5rem;
  border-top: 1px solid grey;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.checkout-footer > div {
  font-weight: bold;
  font-size: 2.5rem;
}

.checkout-footer > a {
  font-size: 2rem;
}

.ProductDetails {
  width: 100%;
  padding-left: 5rem;
  box-sizing: border-box;
  font-family: 'Karla';
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-desc {
  font-size: 1.5rem;
  width: 80%;
}

.product-price {
  font-size: 2rem;
}

.product-name {
  font-size: 2.5rem;
}

.details > button {
  font-size: 1.5rem;
  font-family: 'Karla';
  width: 10rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.go-back {
  font-size: 1.5rem;
}

.ProductDetails > img {
  width: 80%
}

a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(116, 167, 82);
}